[Desktop Entry]
Name=HookDesk
NoDisplay=true
MimeType=x-scheme-handler/hookdesk;
TryExec=hookdesk
Exec=hookdesk %u
Icon=hookdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=hookdesk
